@mixin background-cover($src) {
	@include background-image($src); 
	background-size: cover;
	
}

@mixin background-contain($src) {
	@include background-image($src); 
	background-size: contain;
	
}

@mixin background-image($src) {
	background-image: url($src);
	background-position: center;	
	background-repeat: no-repeat;

}
